.chameleon {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes chameleon-background {
  0% {
    background: none;
  }

  100% {
    background: url('../img/chameleon-background.png');
  }
}

.chameleon__container {
  width: 362px;
  height: 379px;

  position: relative;

  animation-name: chameleon-background;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.25,1.45,.59,.31);
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes chameleon {
  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.chameleon__image-chameleon {
  position: absolute;
  top: 0%;
  left: 0%;

  z-index: 1;

  animation-name: chameleon;
  animation-duration: 6s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.chameleon__image-branch {
  position: absolute;
  top: 39%;
  left: 36%;
}

@keyframes eye {
  0% {
    transform: translate(3px, 0px);
  }

  15% {
    transform: translate(-13px, 0px);
  }

  30% {
    transform: translate(-13px, 10px);
  }

  /*60% {
    transform: translate(-6px, 15px);
  }*/

  45% {
    transform: translate(-7px, 6px);
  }

  60% {
    transform: translate(-7px, 6px) scale(1.3);
    opacity: 1;
  }

  90% {
    transform: translate(-7px, 6px) scale(0.6);
    opacity: 0;
  }

  100% {
    transform: translate(-7px, 6px) scale(0.6);
    opacity: 0;
  }
}

.chameleon__image-chameleon-eye {
  position: absolute;
  top: 49%;
  left: 45%;

  z-index: 2;

  animation-name: eye;
  animation-duration: 6s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}